################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/xLiAd.DiagnosticLogCenter/v16
/xLiAd.DiagnosticLogCenter/bin/Debug/netstandard2.0
/xLiAd.DiagnosticLogCenter/obj
/xLiAd.DiagnosticLogCenter.Abstract/bin/Debug/netstandard2.0
/xLiAd.DiagnosticLogCenter.Abstract/obj
/xLiAd.DiagnosticLogCenter.Agent/bin/Debug/netstandard2.0
/xLiAd.DiagnosticLogCenter.Agent/obj
