################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/xLiAd.DiagnosticLogCenter/v16
/xLiAd.DiagnosticLogCenter/bin/Debug/netstandard2.0
/xLiAd.DiagnosticLogCenter/obj
/xLiAd.DiagnosticLogCenter.Abstract/bin/Debug/netstandard2.0
/xLiAd.DiagnosticLogCenter.Abstract/obj
/xLiAd.DiagnosticLogCenter.Agent/bin/Debug/netstandard2.0
/xLiAd.DiagnosticLogCenter.Agent/obj
/.vs/xLiAd.DiagnosticLogCenter/DesignTimeBuild
/xLiAd.DiagnosticLogCenter.CollectServer/bin/Debug/netcoreapp3.1
/xLiAd.DiagnosticLogCenter.CollectServer/obj
/xLiAd.DiagnosticLogCenter.SampleAspNetCore/bin/Debug/netcoreapp3.1
/xLiAd.DiagnosticLogCenter.SampleAspNetCore/obj
/.vs/xLiAd.DiagnosticLogCenter/config
/xLiAd.DiagnosticLogCenter.UserInterface/bin/Debug/netcoreapp3.1
/xLiAd.DiagnosticLogCenter.UserInterface/obj
/xLiAd.DiagnosticLogCenter.Abstract/bin/Release/netstandard2.0
/xLiAd.DiagnosticLogCenter.Abstract/nupkgs
/xLiAd.DiagnosticLogCenter.Abstract/nupkgsSymb
/xLiAd.DiagnosticLogCenter.Agent/bin/Release/netstandard2.0
/xLiAd.DiagnosticLogCenter.Agent/nupkgs
/xLiAd.DiagnosticLogCenter.Agent/nupkgsSymb
/xLiAd.DiagnosticLogCenter.CollectServer/bin
